$Montserrat: 'Montserrat', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
$Oswald: 'Oswald', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Lato: 'Lato', sans-serif;
$PTSansNarrow: 'PT Sans Narrow', sans-serif;


$mainHeadingFontFamily: $Montserrat;
$secondaryHeadingFontFamily: $Oswald;
$mainBodyFontFamily: $OpenSans;